<?xml version="1.0"?>

<launch>
    <!-- Novatel GPS -->
    <include ns="/sy" file="$(find novatel_gps_driver)/launch/novatel.launch"/>

    <!-- Ego Motion -->
    <include ns="/pc" file="$(find visteon_mkz_black_bringup)/launch/pe/ego_fusion.launch">
        <arg name="ego_motion_type" value="novatel"/>
    </include>

    <!-- Mileage Logger -->
    <node ns="/sy/" name="mileage_logger_node" type="mileage_logger" pkg="mileage_logger" output="screen">
        <rosparam command="load" file="$(find mileage_logger)/cfg/mileage_logger.yaml"/>
    </node>
</launch>